install
cdrom
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts=us
#
# Configure the NIC - comment this line out if using bonded NIC
network --device=eth0 --bootproto=static --ip=192.168.0.145 --netmask=255.255.255.0 --gateway=192,168.0.1 --nameserver=192,168.0.1 --hostname=test-ACR-01.local.domain
# To add additional NIC(s), uncomment, copy if necessary and edit the line below
# Note that the additional devices must not be in the same subnet as the first NIC nor each other - use bonding to achieve that
#network --device=eth1 --bootproto=static --ip=10.10.10.123 --netmask=255.255.255.0
#
# To bond multiple NICs, uncomment and edit the following line and comment out the network line above (RHEL 7 only)
#network --device=bond0 --bondslaves=eth0,eth1 --bootproto=static --ip=192.168.0.145 --netmask=255.255.255.0 --gateway=192,168.0.1 --nameserver=192,168.0.1 --hostname=test-ACR-01.local.domain
# Note: you will probably have to delete the following files after first boot: /etc/sysconfig/network-scripts/ifcfg-ens1 (or whatever the raw device is). Leave the ifcfg-bond0* files
#
rootpw --iscrypted $6$OYoqXwol7DyzpU6L$VLnNskioMgMrJfzc4tehqa7l1qfwhITJg27iSquoOopgBrKPpz./.Er3JbD8mwFZnUbJHN7mxPXLVb3QAk0uA/
auth --useshadow --passalgo=sha512
firewall --disabled
selinux --disabled
firstboot --disabled
timezone Africa/Johannesburg --utc --ntpservers=192,168.0.1
services --enabled chronyd --disabled cups
#
# Disk partitions....
#
bootloader --location=mbr
clearpart --all --initlabel
#
# The default one disk (or RAID array) partitioning - *without* volgroup 
# If there is more than one disk, either add --ondisk=xxx to each of the partitions or use the volgroup example below instead
# When using --ondisk make sure that exactly one partition per drive has --grow (i.e. with 2 drives allow /var/lib/pgsql to consume the balance of the first drive)
# Edit partition sizes as desired to meet the minimums in the installation manual
#
part /boot --fstype=ext4 --size=200
part / --fstype=ext4 --size=10000
part /opt/witness --fstype=ext4 --size=10000
part /var/lib/pgsql --fstype=ext4 --size=10000
part  swap --recommended
part /calls --fstype=ext4 --size=1000 --grow
#
# The alternative partitioning scheme using volgroup - to use, comment out the above, uncomment this and change the ondisk names as appropriate
#
#part /boot --fstype=ext4 --size=200 --ondisk=sda
#part pv.01 --size=1 --grow --ondisk=sda
#part pv.02 --size=1 --grow --ondisk=sdb
#volgroup acrvg pv.01 pv.02
#logvol swap --recommended --vgname=acrvg --name=swap
#logvol / --fstype=ext4 --size=10000 --vgname=acrvg --name=root
#logvol /opt/witness --fstype=ext4 --size=10000 --vgname=acrvg --name=witness
#logvol /var/lib/pgsql --fstype=ext4 --size=10000 --vgname=acrvg --name=postgres
#logvol /calls --fstype=ext4 --size=1000 --grow --vgname=acrvg --name=calls
#
#
user --name=witness --homedir=/home/witness --password=$6$sMKvGgk2DRsti5E.$4PloUTlfGFyZcw8TRE5Q.l841M69dV3hMtD.4E11symgk.9JU1Yf/sNxk4vurlvdIqkU9iENUcpfu4C.68sa90 --iscrypted --uid=501 --groups=cdrom
%packages
@ base
@ core
@ x11
@ fonts
@ internet-browser
@ gnome-desktop
perl
mkisofs
perl-libwww-perl
chrony
systemd-libs
tigervnc-server
-redhat-lsb
-ash
-aspell
-cups
-cups-libs
-finger
-irda-utils
-lftp
-mtr
-nano
-nc
-pax
-pdksh
-rdate
-redhat-config-network-tui
-rp-pppoe
-rsh
-jfsutils
-jwhois
-setuptool
-sendmail
-sharutils
-stunnel
-tftp
-wireless-tools
-rdist
-openoffice-libs
-cyrus-sasl-gssapi
-cyrus-sasl-plain
-wvdial
-dvd+rw-tools
-gnome-boxes
%end
%post
/bin/chown witness.witness /calls
/bin/chown witness.witness /opt/witness
/bin/echo "witness hard nproc 4096" >> /etc/security/limits.conf
/bin/echo "witness hard nofile 16384" >> /etc/security/limits.conf
/bin/sed -i "/^#PermitRoot/s/#PermitRootLogin yes/PermitRootLogin no/g" /etc/ssh/sshd_config
/bin/sed -i "/^X11Forwarding/s/X11Forwarding yes/X11Forwarding no/g" /etc/ssh/sshd_config
/bin/echo "# Disable ICMP routing redirects" >> /etc/sysctl.conf
/bin/echo "net.ipv4.conf.all.accept_redirects=0" >> /etc/sysctl.conf
/bin/echo "net.ipv4.conf.all.secure_redirects=0" >> /etc/sysctl.conf
/bin/echo "net.ipv4.conf.all.send_redirects=0" >> /etc/sysctl.conf
/bin/echo "net.ipv4.conf.default.accept_redirects=0" >> /etc/sysctl.conf
/bin/echo "net.ipv4.conf.default.secure_redirects=0" >> /etc/sysctl.conf
/bin/echo "net.ipv4.conf.default.send_redirects=0" >> /etc/sysctl.conf
/bin/echo "# Log spoofed packets" >> /etc/sysctl.conf
/bin/echo "net.ipv4.conf.all.log_martians=1" >> /etc/sysctl.conf
/bin/echo "# Enable IP spoofing protection" >> /etc/sysctl.conf
/bin/echo "net.ipv4.conf.all.rp_filter=1" >> /etc/sysctl.conf
/bin/echo "# Block IP packet forwarding" >> /etc/sysctl.conf
/bin/echo "net.ipv4.ip_forward = 0" >> /etc/sysctl.conf
/bin/echo "Created 15.1fp2e" > /etc/ksversion
%end

